@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Lato:wght@300&family=Open+Sans:wght@300&family=Roboto:ital,wght@0,300;1,100&display=swap');

$font_family_roboto: 'Roboto', sans-serif;
$font_family_lato: 'Lato', sans-serif;
$font_family_hurricane: 'hurricane', sans-serif;