@keyframes dropdown_open {
  0% {
    transform: translateX(100%)
  }
  50% {
    transform: translateX(50%)
  }
  100% {
    transform: translateX(0)
  }
}

@-webkit-keyframes dropdown_open {
  0% {
    transform: translateX(100%)
  }
  50% {
    transform: translateX(50%)
  }
  100% {
    transform: translateX(0)
  }

}

@keyframes dropdown_closing {
  0% {
    transform: translateX(0)
  }
  50% {
    transform: translateX(50%)
  }
  100% {
    transform: translateX(100%)
  }
}

@-webkit-keyframes dropdown_closing {
  0% {
    transform: translateX(0%)
  }
  50% {
    transform: translateX(50%)
  }
  100% {
    transform: translateX(100%)
  }
}

@keyframes dropdown_closed {
  100% {
    transform: translateX(100%)
  }
}

@-webkit-keyframes dropdown_closed {
  100% {
    transform: translateX(100%)
  }
}

@keyframes menu_open {
  0% {
    opacity: 0;
    transform: scale(.5) translateX(150%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0%);
  }
}

@keyframes menu_closing {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(150%);
  }
}

@keyframes dropdown_open {
  0% {
    opacity: 0;
    transform: scale(.5) translateX(150%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0%);
  }
}

@keyframes dropdown_closing {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(150%);
  }
}

@-webkit-keyframes model {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes model {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }

}

@keyframes notification_open {
  0% {
    opacity: 0;
    transform: scale(.5) translateX(150%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(5%);
  }
}

@keyframes notification_closing {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(150%);
  }
}

@keyframes form_open {
  0% {
    opacity: 0;
    transform: scale(0)
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes form_closing {
  0% {
    transform: scale(.5) translateY(0);
  }
  100% {
    transform: scale(0) translateY(150%);
  }
}