@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Lato:wght@300&family=Open+Sans:wght@300&family=Roboto:ital,wght@0,300;1,100&display=swap');

$font_family_roboto: 'Roboto', sans-serif;
$font_family_lato: 'Lato', sans-serif;
$font_family_hurricane: 'hurricane', sans-serif;

//Css color
$border_color: #E1E5EA;
$white_light_color: #F5F5F5;


$break_points: (
        xs: 575px,
        s: 768px,
        ssmd: 800px,
        smd: 880px,
        md: 900px,
        lg: 1200px
);
