@import "@_variable";

.light {
  background: inherit;

  .login {

  }
}

.dark {
  background: #121212;
  * {
    color: $dark_mode_text_color;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 0 !important;
    -webkit-text-fill-color: $dark_mode_text_color;
  }

  input::placeholder:-webkit-autofill {
    color: #FFF;
  }

  input, input[type="text"],
  input[type="text"]:focus,
  input[type="email"],
  input:focus, input[type="email"]:focus {
    background: transparent !important;
    border: none !important;
    outline-width: 0 !important;
    border-bottom: 1px solid #eee !important;
  }

  input[type="submit"] {
    background: $dark_mode_secondary;
    padding: 5px 15px;
    margin-top: 1em;
    border: 1px solid #eee !important;
  }

  .notification {
    background: $dark_mode_secondary;
    border: none;
    border-top: 4px solid $color_red;

    * {
      color: $dark_mode_text_color;
    }
  }

  .home {
    background: url('/src/assets/image/home-bg-dark.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .contentInfo {

      .titleContainer {
        .title {
          font-size: 2em !important;
          * {
            color: $dark_mode_text_color
          }
        }
      }

      .infoContainer {
        p {
          padding-left: 0;
        }
      }
    }
  }

  .project {

    .mainContainer {
      .contentButtonContainerPlus {
        border: none;
      }
    }

    .projectContent {
      background: none;
      border: 2px solid $dark_mode_secondary;
      padding: 10px 0 0;

      .contentRight {
        gap: .5em;
        background: $dark_mode_secondary;

        a {
          background: $dark_mode_secondary;
          padding: 2px 5px;
          border: 1px solid $dark_mode;
          border-radius: 10px;
          justify-content: center;

          &:hover {
            background: $dark_mode;
            border: none
          }
        }
      }
    }
  }

  .projectForm {

    .mainContainer {
      background: $dark_mode_secondary;

      .form {
        width: 98%;
        margin: 0 auto;
        padding-bottom: 10px;

        input {
          border-color: $dark_mode !important;
        }

        .btnContainer {
          input {
            color: $dark_mode_text_color;
            border-radius: 20px;
          }
        }
      }
    }
  }

  .projectBoard {

    .taskContainer {

      .title_container {
        background: none;
        background: $dark_mode_secondary
      }

      .task {
        border: 1px solid $dark_mode_secondary !important;
        .task_body {

          .actionBtn {
            background: $dark_mode_secondary;

            li {
              border: $light_slate;
              background: $dark_mode !important;
              color: $dark_mode_text_color !important;

              &:hover {
                color: $light_slate !important
              }
            }
          }
        }
      }
    }
  }

  .login {

    .positionRight {
      .loginContent {

        .formGroup {
          background: none !important;

          input {
            padding: 5px 10px;
          }

        }
      }
    }
  }

  .dashboard {

    .mainContent {
      background: none;

      .titleContainer {
        i {
          color: $dark_mode_text_color
        }
      }
    }
  }

  .model {
    .content {

      .form {
        background: $dark_mode
      }

      .formContainer {
        background: $dark_mode_secondary;

        * {
          background: inherit;
        }

        .btnContainer {
          input {
            border-color: $dark_mode_secondary !important;
            background: $dark_mode !important;
          }
        }
      }
    }
  }

  .footer {
    border-top: 2px solid $dark_mode_secondary;
  }
}