@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Lato:wght@300&family=Open+Sans:wght@300&family=Roboto:ital,wght@0,300;1,100&display=swap");
.light {
  background: inherit;
}
.dark {
  background: #121212;
}
.dark * {
  color: #E0E0E1;
}
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 0 !important;
  -webkit-text-fill-color: #E0E0E1;
}
.dark input::placeholder:-webkit-autofill {
  color: #FFF;
}
.dark input, .dark input[type=text],
.dark input[type=text]:focus,
.dark input[type=email],
.dark input:focus, .dark input[type=email]:focus {
  background: transparent !important;
  border: none !important;
  outline-width: 0 !important;
  border-bottom: 1px solid #eee !important;
}
.dark input[type=submit] {
  background: #1D1E20;
  padding: 5px 15px;
  margin-top: 1em;
  border: 1px solid #eee !important;
}
.dark .notification {
  background: #1D1E20;
  border: none;
  border-top: 4px solid #f71835;
}
.dark .notification * {
  color: #E0E0E1;
}
.dark .home {
  background: url("/src/assets/image/home-bg-dark.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.dark .home .contentInfo .titleContainer .title {
  font-size: 2em !important;
}
.dark .home .contentInfo .titleContainer .title * {
  color: #E0E0E1;
}
.dark .home .contentInfo .infoContainer p {
  padding-left: 0;
}
.dark .project .mainContainer .contentButtonContainerPlus {
  border: none;
}
.dark .project .projectContent {
  background: none;
  border: 2px solid #1D1E20;
  padding: 10px 0 0;
}
.dark .project .projectContent .contentRight {
  display: grid;
  gap: 0.5em !important;
  background: #1D1E20;
}
.dark .project .projectContent .contentRight a {
  background: #1D1E20;
  padding: 2px 5px;
  border: 1px solid #121212;
  border-radius: 10px;
  justify-content: center;
}
.dark .project .projectContent .contentRight a:hover {
  background: #121212;
  border: none;
}
.dark .projectBoard .taskContainer .title_container {
  background: none;
  background: #1D1E20;
}
.dark .projectBoard .taskContainer .task {
  border: 1px solid #1D1E20 !important;
}
.dark .projectBoard .taskContainer .task .task_body .actionBtn {
  background: #1D1E20;
}
.dark .projectBoard .taskContainer .task .task_body .actionBtn li {
  border: #A8B2D1;
  background: #121212 !important;
  color: #E0E0E1 !important;
}
.dark .projectBoard .taskContainer .task .task_body .actionBtn li:hover {
  color: #A8B2D1 !important;
}
.dark .login .positionRight .loginContent .formGroup {
  background: none !important;
}
.dark .login .positionRight .loginContent .formGroup input {
  padding: 5px 10px;
}
.dark .dashboard .mainContent {
  background: none;
}
.dark .dashboard .mainContent .titleContainer i {
  color: #E0E0E1;
}
.dark .model .content .form {
  background: #121212;
}
.dark .model .content .formContainer {
  background: #1D1E20;
}
.dark .model .content .formContainer * {
  background: inherit;
}
.dark .model .content .formContainer .btnContainer input {
  border-color: #1D1E20 !important;
  background: #121212 !important;
}
.dark .footer {
  border-top: 2px solid #1D1E20;
}

/*# sourceMappingURL=@mode.css.map */
