@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@400;500;700&family=Lato:wght@400;700&display=swap");
.notification {
  border: 1px solid #cbcbcb;
  padding: 15px 5px 15px;
  width: 40%;
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2em;
  background: linear-gradient(rgba(247, 247, 247, 0.9), rgba(247, 247, 247, 0.9));
  transition: transform 1.5s ease-in;
  transform: translateX(150%);
}
.notification .buttonContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 0.5em auto 0;
}
.notification .buttonContainer button {
  font-size: 1em;
  cursor: pointer;
  width: fit-content;
  margin: 1em auto 0;
  padding: 5px 15px;
  border-radius: 5px;
}
.notification .buttonContainer .cancel {
  border: 1px solid #aeaeae;
  color: black;
}
.notification .buttonContainer .conform {
  background: #019267;
  color: white;
}

.showNotification {
  transform: translateX(0%);
}

.mainContainer {
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.appHeader {
  padding: 15px;
  background: inherit;
}
.appHeader nav {
  display: grid;
  grid-template-columns: 2fr 8fr;
}
.appHeader nav .logoContainer {
  width: 100%;
}
.appHeader nav .linkContainer {
  text-align: right;
  width: 100%;
  padding: 0 1.5em 0 15px;
}
.appHeader a {
  text-decoration: none;
  text-underline: none;
  color: inherit;
  margin-left: 0.5em;
  font-size: 1.3em;
}

.home {
  background: #f3f3fa;
  min-height: 100vh;
  background: url("./../public/image/home-bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home .mainContainer {
  display: grid;
  grid-template-columns: 4fr 7fr;
  width: 90%;
  height: auto;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  position: absolute;
}
.home .mainContainer .positionLeft nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  padding-bottom: 2em;
}
.home .mainContainer .positionLeft nav li {
  font-size: 1.2em;
  list-style: none;
  display: inline-block;
  font-weight: bold;
  font-family: "Lato", "Anek Tamil", sans-serif;
  cursor: pointer;
  padding-bottom: 5px;
}
.home .mainContainer .positionLeft nav .active {
  border-bottom: 1px solid red;
}
.home .mainContainer .positionLeft .contentInfo {
  margin-bottom: 3em;
}
.home .mainContainer .positionLeft .contentInfo .titleContainer {
  padding-bottom: 1.3em;
}
.home .mainContainer .positionLeft .contentInfo .titleContainer .title {
  width: 95%;
  font-family: "Lato", "Anek Tamil", sans-serif;
  font-weight: 700;
  margin: 0 auto;
  font-size: 3em;
  text-align: left;
}
.home .mainContainer .positionLeft .contentInfo p {
  font-size: 1.2em;
  line-height: 1.5em;
}
.home .mainContainer .positionLeft .iconContainer {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.home .mainContainer .positionLeft .iconContainer svg {
  font-size: 3em;
}
.home .mainContainer .positionLeft .iconContainer svg:first-child {
  color: #39AEA9;
}
.home .mainContainer .positionLeft .iconContainer svg:last-child {
  color: #66d3f3;
}
.home .mainContainer .positionLeft h2 {
  font-weight: bold;
  line-height: 1em;
}

.projectForm {
  width: 100%;
  padding: 15px;
}
.projectForm .titleContainer {
  padding: 15px 15px 20px;
}
.projectForm .formContainer {
  width: 70%;
  margin: 0 auto;
}
.projectForm .formContainer .formGroup {
  width: 60%;
  margin: 0 auto;
}
.projectForm .formContainer .formGroup input, .projectForm .formContainer .formGroup textarea {
  border: 1px solid #a7a7a7;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 0.5em;
  border-radius: 5px;
  font-size: 1.1em;
  text-align: left;
}
.projectForm .formContainer .formGroup textarea {
  min-height: 100px;
}
.projectForm .formContainer .formGroup .btnContainer {
  margin-top: 1em;
}
.projectForm .formContainer .formGroup .btnContainer .submitButton {
  background: #00C897;
  color: #FFF;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.dashboard {
  height: 100vh;
}
.dashboard .sidebar {
  background: #161a23;
  grid-area: sidebar;
  width: 100%;
  height: 100%;
}
.dashboard .sidebar * {
  color: #FFF;
  font-family: "Lato", sans-serif;
}
.dashboard .sidebar .sidebarNav {
  padding: 15px 10px;
}
.dashboard .sidebar .sidebarNav * {
  font-size: 18px;
}
.dashboard .sidebar .sidebarNav ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
  text-align: left;
}
.dashboard .sidebar .sidebarNav ul li {
  padding: 10px 10px;
  text-align: left;
  list-style: none;
  cursor: pointer;
  width: 100%;
}
.dashboard .sidebar .sidebarNav ul li a {
  text-decoration: none;
}
.dashboard .sidebar .sidebarNav ul div {
  border-bottom: 1px solid #bebebe;
  padding-bottom: 10px;
}
.dashboard .mainContent {
  grid-area: mainContent;
  text-align: center;
  justify-content: center;
  padding: 15px;
  width: 100%;
  background: url("./../public/image/dashboard-bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.dashboard .mainContent .contentButtonContainer {
  padding: 3em 15px 15px;
  margin: 0 auto;
  width: 80%;
  border-bottom: 1px solid #bebebe;
}
.dashboard .mainContent .contentButtonContainer li {
  list-style: none;
}
.dashboard .mainContent .contentButtonContainer li svg {
  border: 3px dotted;
  border-radius: 10px;
  font-size: 80px;
  cursor: pointer;
  margin-bottom: 0.1em;
}
.dashboard .mainContent .contentButtonContainer li span {
  padding-top: 10px;
}
.dashboard .mainContent .taskDueContainer {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dashboard .mainContent .taskDueContainer .titleContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid #bebebe;
  margin-bottom: 1em;
}
.dashboard .mainContent .taskDueContainer .titleContainer h5 {
  font-size: 1.5em;
  width: 100%;
  text-align: left;
  padding-bottom: 5px;
}
.dashboard .mainContent .taskDueContainer .titleContainer i {
  width: 100%;
  font-size: 1.3em;
  text-align: right;
  font-weight: bold;
  color: #79018C;
  cursor: pointer;
}
.dashboard .mainContent .taskDueContainer .taskContainer .content {
  border: 1px solid #909090;
  padding-bottom: 10px;
}
.dashboard .mainContent .taskDueContainer .taskContainer ul {
  width: 90%;
  list-style-type: none;
  margin: 0 auto;
}
.dashboard .mainContent .taskDueContainer .taskContainer li {
  list-style-type: circle;
  text-align: left;
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid #909090;
  text-transform: capitalize;
}
.dashboard .mainContent .taskDueContainer .taskContainer li:last-child {
  border: none;
}
.dashboard .mainContent .taskDueContainer .taskContainer li::marker {
  font-size: 2em;
}

.project {
  min-height: 100vh;
}
.project .mainContainer {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
}
.project .mainContainer .projectContent {
  display: grid;
  grid-template-columns: 2fr 7fr 3fr;
  padding: 15px;
  border: 1px solid #aeaeae;
  border-radius: 5px;
  margin-bottom: 0.5em;
  grid-gap: 0.5em;
  background: #fdfdfd;
}
.project .mainContainer .projectContent .contentLeft p {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
}
.project .mainContainer .projectContent .contentMiddle {
  text-align: left;
  position: relative;
}
.project .mainContainer .projectContent .contentMiddle * {
  text-align: left;
}
.project .mainContainer .projectContent .contentMiddle h2 {
  margin-bottom: 0.5em;
}
.project .mainContainer .projectContent .contentMiddle p {
  font-size: 1.1em;
}
.project .mainContainer .projectContent .contentMiddle .projectDate {
  bottom: 0;
  position: absolute;
}
.project .mainContainer .projectContent .contentRight {
  background: white;
}
.project .mainContainer .projectContent .contentRight * {
  list-style: none;
}
.project .mainContainer .projectContent .contentRight a, .project .mainContainer .projectContent .contentRight li {
  cursor: pointer;
  border: 0.05em solid #c4c4c4;
  padding: 8px 10px;
  text-align: left;
  border-radius: 5px;
  display: block;
}
.project .mainContainer .projectContent .contentRight a:hover, .project .mainContainer .projectContent .contentRight li:hover {
  background: #EEEEEE;
}
.project .mainContainer .projectContent .contentRight a svg, .project .mainContainer .projectContent .contentRight li svg {
  font-size: 1.6em;
}
.project .mainContainer .projectContent .contentRight a span, .project .mainContainer .projectContent .contentRight li span {
  margin-top: 0.2em;
  position: absolute;
  margin-left: 0.5em;
}
.project .mainContainer .projectContent .contentRight a:first-child, .project .mainContainer .projectContent .contentRight li:first-child {
  color: #0093AB;
}
.project .mainContainer .projectContent .contentRight a:nth-child(2), .project .mainContainer .projectContent .contentRight li:nth-child(2) {
  color: #019267;
}
.project .mainContainer .projectContent .contentRight a:last-child, .project .mainContainer .projectContent .contentRight li:last-child {
  color: #E83A14;
}

.projectBoard .mainContainer {
  width: 95%;
  top: 30%;
}
.projectBoard .mainContainer .btnContainer {
  padding: 20px;
  text-align: left;
  width: 95%;
  border-bottom: 2px dotted #bebebe;
  margin: 0 auto 0.5em;
}
.projectBoard .mainContainer .btnContainer li {
  width: fit-content;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  background: #30AADD;
  padding: 5px 2em;
  border-radius: 10px;
  cursor: pointer;
}
.projectBoard .mainContainer .btnContainer li * {
  color: #FFF;
}
.projectBoard .mainContainer .btnContainer li span {
  margin-top: 0.5em;
  font-size: 1.2em;
  color: #FFF;
}
.projectBoard .mainContainer .btnContainer li svg {
  font-size: 2.5em;
}
.projectBoard .mainContainer .taskContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.projectBoard .mainContainer .taskContainer nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.projectBoard .mainContainer .taskContainer nav li {
  font-family: "Lato", "Anek Tamil", sans-serif;
  text-transform: uppercase;
  padding: 7px 0;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px 0;
  color: #FFF;
}
.projectBoard .mainContainer .taskContainer nav li:first-child {
  background: #8D8DAA;
}
.projectBoard .mainContainer .taskContainer nav li:nth-child(2) {
  background: #30AADD;
}
.projectBoard .mainContainer .taskContainer nav li:last-child {
  background: #43919B;
}
.projectBoard .mainContainer .taskContainer .positionMiddle {
  border-left: 1px solid #aeaeae;
  border-right: 1px solid #aeaeae;
}
.projectBoard .mainContainer li {
  list-style: none;
}

.projectUpdate {
  min-height: 100vh;
}
.projectUpdate .mainContainer .formContainer {
  width: 85%;
  padding: 20px;
}

.projectForm {
  width: 100%;
}

/*# sourceMappingURL=App.css.map */
